@import "bourbon/bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1040px)

    .container
        padding: 0 5px


/* Medium Devices, Desktops */
@media only screen and (max-width : 892px)

    /*Header*/

    .header
        .top-line
            .info-block
                margin-right: 20px
            .icons-top
                display: none

        .bottom-line
            .sun-days
                right: 20px
                bottom: 25px
                span
                    font-size: 80px
                p
                    font-size: 20px


    /*Section Challenges*/

    .challenges
        .challenge-block
            .challenge-descr
                display: block
                h3
                    font-size: 25px
            .prices
                span
                    font-size: 30px


    /*Section Physics*/

    .physics
        h2
        .text-wrapper
            .aside
                span
                    font-size: 60px






/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

    /*Header*/

    .header
        .bottom-line
            .sun-days
                display: none


    /*Section Challenges*/

    .challenges
        .challenge-block
            width: 100%
            float: none
            text-align: center
            &:last-child
                margin-left: 0
                margin-top: 15px
            .prices
                float: none
                margin-left: 30px
                span
                    font-size: 30px


    /*Section Physics*/

    .physics
        h2
            font-size: 30px
            text-align: center
        .text-wrapper
            .articles
                width: 100%
                float: none
                padding: 0 5px
                .table
                    margin-bottom: 25px

                    th
                        padding: 2px 2px
                        font-size: 9px
                    td
                        padding: 2px 2px
                        font-size: 9px
                        &:first-child
                            font-size: 9px


            .aside
                width: 100%
                float: none
                padding-top: 10px
                padding-left: 5px






/* Small Devices, Tablets */
@media only screen and (max-width : 630px)

    /*Header*/

    .header
        .bottom-line
            .hotel
                .hotel-top-block
                    font-size: 25px
                    .stars
                        margin-left: 15px
                    p
                        margin-left: 15px


                .hotel-bottom-block
                    .overall-mark
                        margin-left: 15px
                    .hotel-grade-marks
                        .mark
                            margin-left: 10px




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

    /*Header*/

    .header
        .top-line
            .company-name
                .logo
                    h1
                        font-size: 14px

        .bottom-line
            .hotel
                .hotel-top-block
                    font-size: 25px
                    .stars
                        margin-left: 15px
                    p
                        margin-left: 15px
                .hotel-bottom-block
                    .hotel-grade-marks
                        margin-top: 10px






/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

