@import "bourbon/bourbon"

$color-primary: #000
$color-secondary: #00bff3
$color-tertiary: #777777

$font-family-primary: 'Arial', sans-serif
$font-family-secondary: 'Trebuchet MS Bold', sans-serif
$font-family-tertiary: 'Trebuchet MS', sans-serif

$line-height-base: 1.4
$line-height-paragraph: 1.5

$transition: all .4s ease-in-out
$transform: scale(1.2)