@import "bourbon/bourbon"

$color-primary: #000
$color-secondary: #00bff3
$color-tertiary: rgba(255, 242, 0, 0.7)

$font-family-primary: 'Arial', sans-serif
$font-family-secondary: 'Trebuchet MS Bold', sans-serif

$line-height-base: 1.4
$line-height-paragraph: 1.3

$transition: all .4s ease-in-out
$transform: scale(1.2)