@import "bourbon/bourbon"
@import "vars"
@import "libs"
@import "base"

/* Section Challenges */

.challenges
    .challenge-block
        width: 48.25%
        float: left
        &:last-child
            margin-left: 3.4%
        .challenge-descr
            display: inline-block
            padding-top: 9px
            h3
                font-family: $font-family-secondary
                font-size: 30px
                border-bottom: 1px solid #cccccc
            p
                color: $color-tertiary
                margin-top: 14px
                line-height: 1
        .prices
            display: inline-block
            float: right
            text-align: right
            line-height: 1
            span
                font-family: $font-family-secondary
                font-size: 50px
                &:last-child
                    font-size: 20px

/* Section Physics */

.physics
    padding: 67px 0 47px 0
    h2
        font-family: $font-family-secondary
        font-size: 50px
        line-height: 1

    .text-wrapper
        .articles
            width: 75%
            float: left
            p
                line-height: $line-height-paragraph
                margin-bottom: 24px
            .article2
                blockquote
                    margin: 14px 0px 14px 40px
                    padding: 15px 10px 20px 10px
                    background-color: #f0fbfe
                    border-left: 3px solid $color-secondary
                    line-height: $line-height-paragraph
        .aside
            float: right
            width: 25%

//Always at end

@import "media"
